<nav class="navbar  navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand" id="logo">
                    <a>ANA <i class="fa fa-line-chart fa-lg"></i></a>
                </div>
            </div>
            <form class="navbar-form text-center" ng-controller="navController">
                <input type="url" ng-model="url" class="form-control nav-input" placeholder="{{input.placeholder}}" ng-disabled="!input.status">
                 <button ng-show="input.status" 
                         ng-click="load(url)" 
                         class="btn btn-success">
                        <i class="fa fa-search"></i> 
                        Go!
                </button>
                 <button ng-show="!input.status" ng-click="clearR()" class="btn btn-warning">
                    <i class="fa fa-tower"></i> Clear
                </button>
            </form>
        </div>
    </nav>