
    <div class="appHeader" style="height:100px;"></div>
    
    <!--Fist -->
    <div ng-include="'app/views/results.html'"></div>
    
    
    <!-- Results 
    <div class="row">
        <div class="container" ng-show="resultView">
            <div ng-include="'app/views/result.html'"></div>
        </div>
    </div>
    <!-- Tools -->
    <div class="row">
        <div class="container" ng-show="resultView">
            <div ng-include="'app/views/mobiles.html'"></div>
        </div>
    </div>

    <!-- DEBUGER -->
    <br/><br/>
    <div ng-include="'app/views/elements/debugger.html'"></div>


