
<div class="row">
    <div class="container">
        <div class="col-md-6 col-md-offset-1">
            <h2>Results for:</h2>
            <h4 class="" ng-model="site"><i>{{site}}</i></h4>
            <h6 class="" ng-show="results">{{date}}</h6>
        </div>
    </div>
    <!-- <form class="form">
        <div class="col-md-6 col-md-offset-2">
            <div class="form-group form-group-lg">
                <input type="url" ng-model="url" class="form-control" placeholder="http(s)://example.com">
           </div> 
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <button ng-show="!results" ng-click="load(url)" class="btn btn-lg btn-success">
                    <i class="fa fa-search"></i> Go!
                </button>
                <button ng-show="results" ng-click="clear()" class="btn btn-lg btn-warning">
                    <i class="fa fa-tower"></i> Clear
                </button>
            </div>
        </div>
    </form>
    -->
</div>
