<h3 class="text-center">Mobile Views</h3>
<div ng-repeat="iframe in iframes">
    <h5 class="text-center"><i>{{iframe.title}} {{iframe.width}}x{{iframe.height}}</i></h5>
    <h6 class="text-center">{{iframe.class}}</h6>
    <div class="iframeBG {{iframe.class}}" 
         style="background-image:url('{{iframe.view}}');">
            
        <iframe class="mobileIframe center-block" 
                src="{{iframe.url}}" 
                width="{{iframe.width}}" 
                height="{{iframe.height}}">           
        </iframe>
    </div>
</div>

